doctype html
html(data-ng-app="greatskin", lang="da")
	head
		include blocks/head.jade
		// (PLACEHOLDER)(BEGIN) - Head
		block head
		// (PLACEHOLDER)(END) - Head
	body
		section.greatskin(data-ng-controller="GreatskinCtrl")
			block glovalVars

			include blocks/header.jade

			// (PLACEHOLDER)(BEGIN) - Body
			block body
			// (PLACEHOLDER)(END) - Body

			div.greatskin__body
				// (PLACEHOLDER)(BEGIN) - Content
				block content
				// (PLACEHOLDER)(END) - Content

			include blocks/footer.jade

		script(src='./scripts/greatskin.js')