doctype html
html(data-ng-app="greatskin", lang="da")
	head
		title Greatskin
		meta(charset="UTF-8")
		//meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='./css/greatskin.css')
		// Main app js
		script(src='./scripts/greatskin_head.js')
		block head
		// Fonts
		link(type="text/css", rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,900,300italic,400italic,700italic,900italic')

	body
		section.greatskin(data-ng-controller="GreatskinCtrl")
			block glovalVars

			div.container.greatskin__blackbar.greatskin__blackbar--coal
				div.container__content
					div.container__inner
						div.inlinelist
							div.inlinelist__item.icon.icon--arrow 30 dages returret
							div.inlinelist__item.icon.icon--support Kundesupport
							div.inlinelist__item.icon.icon--calender 1-3 dages levering
							div.inlinelist__item.icon.icon--fast Fast fragt: DDK 29,-
							div.inlinelist__item.icon.icon--thumb Gratis fragt v/køb over 600,-
							div.inlinelist__item.icon.icon--thumb Gratis fragt v/køb over 600,-
							div.inlinelist__item.icon.icon--arrowdown.icon--sideright.inlinelist__item--alignright Language


			include blocks/header.jade

			include blocks/banner.jade

			div.greatskin__body
				div.container
					div.container__content
						div.container__inner
							div.grid.grid--12
								div.breadcrumb
									a.breadcrumb__item Home
									a.breadcrumb__item Produkter
									a.breadcrumb__item Kvinder
							div.grid.grid--12.grid--alignright filters
				div.container.container--spacebottom
					div.container__content
						div.container__inner
							div.relation.relation--aside
								div.headline
									div.headline__line
									div.headline__text Produkter
									div.headline__line
								div.listmenu
									div.listmenu__item item
									div.listmenu__item item
									div.listmenu__item item
									div.listmenu__item item
								div.headline
									div.headline__line
									div.headline__text Brands
									div.headline__line
								div.listmenu
									div.listmenu__item item
									div.listmenu__item item
									div.listmenu__item item
									div.listmenu__item item
							div.relation.relation--main
								//div.productlist productlist
								div.cluster
									div.cluster__list
										div.cluster__item
											div.cluster__inner
												div.product
													a.product__img(href="#")
														img(src="http://placehold.it/200x200")
														div.product__addtobasket add to basket
														div.product__label Udsalg!
													div.grid--24
														div.product__title title
														div.product__price price
													div.grid--24
														div.product__desc desc
														div.product__delivery delivery
										div.cluster__item
											div.cluster__inner
												div.product
													a.product__img(href="#")
														img(src="http://placehold.it/200x200")
														div.product__addtobasket add to basket
														div.product__label Udsalg!
													div.grid--24
														div.product__title title
														div.product__price price
													div.grid--24
														div.product__desc desc
														div.product__delivery delivery
										div.cluster__item
											div.cluster__inner
												div.product
													a.product__img(href="#")
														img(src="http://placehold.it/200x200")
														div.product__addtobasket add to basket
														div.product__label Udsalg!
													div.grid--24
														div.product__title title
														div.product__price price
													div.grid--24
														div.product__desc desc
														div.product__delivery delivery
										div.cluster__item
											div.cluster__inner
												div.product
													a.product__img(href="#")
														img(src="http://placehold.it/200x200")
														div.product__addtobasket add to basket
														div.product__label Udsalg!
													div.grid--24
														div.product__title title
														div.product__price price
													div.grid--24
														div.product__desc desc
														div.product__delivery delivery
										div.cluster__item
											div.cluster__inner
												div.product
													a.product__img(href="#")
														img(src="http://placehold.it/200x200")
														div.product__addtobasket add to basket
														div.product__label Udsalg!
													div.grid--24
														div.product__title title
														div.product__price price
													div.grid--24
														div.product__desc desc
														div.product__delivery delivery
										div.cluster__item
											div.cluster__inner
												div.product
													a.product__img(href="#")
														img(src="http://placehold.it/200x200")
														div.product__addtobasket add to basket
														div.product__label Udsalg!
													div.grid--24
														div.product__title title
														div.product__price price
													div.grid--24
														div.product__desc desc
														div.product__delivery delivery
										div.cluster__item
											div.cluster__inner
												div.product
													a.product__img(href="#")
														img(src="http://placehold.it/200x200")
														div.product__addtobasket add to basket
														div.product__label Udsalg!
													div.grid--24
														div.product__title title
														div.product__price price
													div.grid--24
														div.product__desc desc
														div.product__delivery delivery



				div.container
					div.container__content
						div.container__inner
							div.headline.headline--grey
								div.headline__line
							div.pagging
								a.pagging__item
									div.icon.icon--arrowleft.icon--noextrapadding
								a.pagging__item 1
								a.pagging__item 2
								a.pagging__item 3
								a.pagging__item
									div.icon.icon--arrowright.icon--noextrapadding


			footer.greatskin__footer
				div.container
					div.container__content
						div.container__inner
							div.grid.grid--5
								p
									| Hos Greatskin.dk har vi en mission.
									| Vi ønsker at være landets fortrukne
									| valg indenfor kosmetik og hudpleje.
								p
									| Med en kombination af skarpe priser
									| og kvalitets produkter, har vi sat os
									| for, at alle fortjener en sund hud
									| uden at det skal koste en bondegård.
							div.grid.grid--1
							div.grid.grid--5
								p Facebook
							div.grid.grid--1
							div.grid.grid--5
								p Newsletter
							div.grid.grid--1
							div.grid.grid--6
								p Contact information

			div.container.greatskin__blackbar
				div.container__content
					div.container__inner
						div.grid.grid--20 2014 Greatskin.dk All rights reserved  l Sydbank: 6840 0001441925  -  Cvr: 35 61 61 01 -  Landevejen128, 5883 Oure
						div.grid.grid--4
							div.inlinelist.inlinelist--alignright
								div.inlinelist__item
									a.icon.icon--facebook.icon--noextrapadding
								div.inlinelist__item
									a.icon.icon--instragram.icon--noextrapadding

			block content


		block body
		script(src='./scripts/greatskin.js')