


.bannerblock {
	display: block;
	width: 100%;
	height: 300px;
	overflow: hidden;
	background-color: $color_lightgrey;
	position: relative;
	@include onlyInDebug() {
		background-color: red;
	}
}

.bannerblock,
.bannerblock__banner {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.bannerblock__banner {
	@include fill();
	display: none;
	width: 100%;
	background-color: $color_lightgrey;
	z-index: 50;
	@include onlyInDebug() {
		background-color: greenyellow;
	}
}

.bannerblock__banner--active {
	display: block;
}
