
$basketboxCountDimension: 24px;

.basketbox {
	font-family: $font_lato;
	width: 100%;
	position: relative;
	height: 100%;
	z-index: 1;
	&:before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color_white;
		z-index: 10;
	}
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.basketbox,
.basketbox__image,
.basketbox__count,
.basketbox__teaser,
.basketbox__title,
.basketbox__icon,
.basketbox__dropdown {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.basketbox__image {
	display: block;
	float: left;
	position: relative;
	background-image: url(../img/graphic/basket.png);
	width: image-width("img/graphic/basket.png");
	height: image-height("img/graphic/basket.png");
	background-repeat: no-repeat;
	background-position: left top;
	margin-top: 15px;
	margin-right: 10px;
	z-index: 20;
}

.basketbox__count {
	@include fontSize(gamma, 0);
	@include border-radius(50%, 50%, 50%, 50%);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: $basketboxCountDimension;
	width: $basketboxCountDimension;
	line-height: $basketboxCountDimension;
	background-color: $color_navy;
	color: $color_white;
	text-align: center;
	font-weight: 700;
	z-index: 20;
}

.basketbox__teaser {
	@include fontSize(beta, 1.3);
	text-align: left;
	overflow: hidden;
	height: 100%;
	padding-right: 10px;
	position: relative;
	z-index: 20;
	cursor: pointer;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	justify-content: center;

	webkit-flex-direction: column;
	flex-direction: column;

	// IE 9
	.no-flexbox & {
		display: block;
		padding-top: 20px;
	}
}

.basketbox__icon {
	position: absolute;
	right: 0;
	top: 50%;
}

.basketbox__title {
	@include fontSize(epsilon, 1);
	width: 100%;
	margin-bottom: 5px;
}

.basketbox__dropdown {
	@include transition(all 300ms ease);
	@include translate(0%, 0%);
	display: block;
	width: 100%;
	left: 0;
	position: absolute;
	bottom: 0;
	background: #cc0000;
	z-index: 1;
}
.basketbox__dropdown--show {
	@include translate(0%, 100%);
}