



$__buttonHeight: 48px;
$__buttonBorderRadius: 5px;

.button {
	@include border-radius($__buttonBorderRadius, $__buttonBorderRadius, $__buttonBorderRadius, $__buttonBorderRadius);
	@include fontSize(epsilon, 0);
	@include noUserSelect();
	color: $color_textwhite;
	background-color: $color_grey;
	height: $__buttonHeight;
	line-height: $__buttonHeight;
	border: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	outline: 0;
	padding: 0 20px;
	text-transform: uppercase;
	position: relative;
	background-repeat: no-repeat;
	background-position: right center;
	&:hover {
		background-color: lighten($color_grey, 10%);
	}
	&:active {
		background-color: darken($color_grey, 10%);
	}
}

.button,
.button__icon,
.button__text {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.button--dynamic {
	height: auto;
	line-height: normal;
	padding-top: 7px;
	padding-bottom: 7px;
	white-space: normal;
}

.button--extrabuff {
	.button__text {
		margin-right: 50px;
	}
}

.button--stretch {
	width: 100%;
	display: block;
}

.button--arrow {
	&:after {
		content: "";
		display: inline-block;
		background-image: url(/img/graphic/arrowright.png);
		background-repeat: no-repeat;
		background-position: center center;
		width: image-width("img/graphic/arrowright.png");
		height: image-height("img/graphic/arrowright.png");
		margin-left: 20px;
		line-height: inherit;
	}
}

.button--orange {
	background-color: $color_orange;
	border-bottom: 3px solid darken($color_orange, 10%);
	&:hover {
		background-color: lighten($color_orange, 5%);
		border-bottom: 3px solid darken($color_orange, 5%);
	}
	&:active {
		background-color: darken($color_orange, 5%);
		border-bottom: 3px solid darken($color_orange, 15%);
	}
}

.button__icon {
	display: inline-block;
}

.button__text {
	display: inline-block;
}

