

.color {

}

.color--black {
	color: $color_textblack;
}
.color--white {
	color: $color_textwhite;
}
.color--navy {
	color: $color_navy;
}
.color--oceansurface {
	color: $color_coal;
}
.color--coal {
	color: $color_coal;
}
.color--darkgrey {
	color: $color_darkgrey;
}
.color--grey {
	color: $color_grey;
}
.color--lightgrey {
	color: $color_lightgrey;
}
.color--lightergrey {
	color: $color_lightergrey;
}
.color--lightgreyblue {
	color: $color_lightgreyblue;
}

