
$greatskinHeaderHeight: 110px;

.greatskin {
	display: block;
	position: relative;
	width: 100%;
	background: $color_white;
	font-family: $font_lato;
	font-weight: normal;
}

.greatskin,
.greatskin__upper,
.greatskin__header,
.greatskin__logo,
.greatskin__basket,
.greatskin__nav,
.greatskin__body,
.greatskin__footer,
.greatskin__search,
.greatskin__searchinput,
.greatskin__searchinner,
.greatskin__searchbutton {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.greatskin__blackbar {
	@include fontSize(beta, 1);
	display: block;
	width: 100%;
	background-color: $color_black;
	color: $color_textwhite;
	padding-top: 20px;
	padding-bottom: 8px;
	font-family: $font_lato;
	font-weight: 300;
	z-index: 30;
	position: relative;
}

.greatskin__blackbar--coal {
	@include fontSize(alpha, 1);
	background-color: $color_coal;
	font-family: $font_lato;
	font-weight: 400;
	padding-top: 8px;
	text-transform: uppercase;
}

.greatskin__header {
	display: block;
	width: 100%;
	height: $greatskinHeaderHeight;
	background-color: $color_white;
	color: $color_textblack;
	z-index: 20;

	/*
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	*/

	@include mediaQueries(mobile tablet) {
		min-height: $greatskinHeaderHeight;
		height: auto;
	}

	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.greatskin__logo {
	display: block;
	float: left;
	margin-top: 34px;
	margin-right: 130px;
	@include mediaQueries(mobile tablet) {
		width: 100%;
		clear: both;
	}
}

.greatskin__basket {
	display: block;
	float: right;
	width: 210px;
	height: $greatskinHeaderHeight;
	@include mediaQueries(mobile) {
		width: 100%;
		clear: both;
	}
}

.greatskin__search {
	display: block;
	float: right;
	height: $greatskinHeaderHeight;
	@include mediaQueries(mobile tablet) {
		//display: none;
		height: auto;
		width: 100%;
		clear: both;
	}
}

.greatskin__nav {
	display: block;
	float: left;
	line-height: $greatskinHeaderHeight;
	cursor: pointer;
	@include mediaQueries(mobile) {
		width: 100%;
		clear: both;
		line-height: ($greatskinHeaderHeight / 1.4);
	}
}

.greatskin__navitem {
	display: block;
	float: left;
	& + & {
		margin-left: 40px;
	}
}

.greatskin__body {
	width: 100%;
	display: block;
	padding-top: 50px;
	padding-bottom: 55px;
	background-color: $color_lightergrey;
}

.greatskin__footer {
	@include fontSize(gamma, 1.4);
	font-weight: 300;
	font-family: $font_lato;
	width: 100%;
	display: block;
	background-color: $color_coal;
	color: $color_white;
	padding-top: 65px;
	padding-bottom: 25px;
}

.greatskin__searchinner {
	display: block;
	width: 200px;
	height: 30px;
	border-right: 1px solid $color_grey;
	margin-top: (($greatskinHeaderHeight - 30px) / 2);
	margin-right: 40px;
	position: relative;
	@include mediaQueries(mobile tablet) {
		width: 100%;
		margin-right: 0;
		margin-top: 0;
	}
}

.greatskin__searchinput {
	display: block;
	width: 100%;
	height: 30px;
	padding: 5px;
	outline: none;
	border: none;
}

.greatskin__searchbutton {
	display: block;
	width: 100%;
	height: 30px;
	padding: 5px;
	outline: none;
	border: none;
	background-image: url("../img/graphic/search.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	cursor: pointer;
	@include mediaQueries(mobile tablet) {
		position: absolute;
		width: #{image-width("../img/graphic/search.png")};
		top: 0;
		right: 10px;
		background-position: right center;
	}
}