



.headline {
	@include fontSize(zeta, 1);
	display: block;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: $color_navy;
	display: table;
	font-family: $font_lato;
	font-weight: 400;
}

.headline,
.headline__text,
.headline__line {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.headline--black {
	color: $color_black;
	.headline__line:after {
		background-color: $color_black;
	}
}

.headline--grey {
	color: $color_lightgreyblue;
	.headline__line:after {
		background-color: $color_lightgreyblue;
	}
}

.headline__text {
	display: table-cell;
	vertical-align: middle;
	width: 1px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.headline__line {
	display: table-cell;
	vertical-align: middle;
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		float: left;
		clear: both;
		background-color: $color_navy;
	}
}