

$icon_extraspace: 5px;

.icon {
	@at-root [class*="icon--"] {
		background-repeat: no-repeat;
		background-position: left center;
	}
}

.icon--arrow {
	background-image: url(/img/graphic/icon/icon_arrow.png);
	min-height: #{image-height("img/graphic/icon/icon_arrow.png")};
	line-height: #{image-height("img/graphic/icon/icon_arrow.png")};
	padding-left: #{image-width("img/graphic/icon/icon_arrow.png") + $icon_extraspace};
	&.icon--noextrapadding {
		padding-left: #{image-width("img/graphic/icon/icon_arrow.png")};
	}
	&.icon--sideright {
		padding-left: 0;
		padding-right: #{image-width("img/graphic/icon/icon_arrow.png") + $icon_extraspace};
	}
	&.icon--noextrapadding.icon--sideright {
		padding-right: #{image-width("img/graphic/icon/icon_arrow.png")};
	}
}

.icon--arrowdown {
	background-image: url(/img/graphic/icon/icon_arrowdown.png);
	min-height: #{image-height("img/graphic/icon/icon_arrowdown.png")};
	line-height: #{image-height("img/graphic/icon/icon_arrowdown.png")};
	padding-left: #{image-width("img/graphic/icon/icon_arrowdown.png") + $icon_extraspace};
	&.icon--noextrapadding {
		padding-left: #{image-width("img/graphic/icon/icon_arrowdown.png")};
	}
	&.icon--sideright {
		padding-left: 0;
		padding-right: #{image-width("img/graphic/icon/icon_arrowdown.png") + $icon_extraspace};
	}
	&.icon--noextrapadding.icon--sideright {
		padding-right: #{image-width("img/graphic/icon/icon_arrowdown.png")};
	}
}


.icon--arrowdowngrey {
	background-image: url(/img/graphic/icon/icon_arrowdown-grey.png);
	min-height: #{image-height("img/graphic/icon/icon_arrowdown-grey.png")};
	line-height: #{image-height("img/graphic/icon/icon_arrowdown-grey.png")};
	padding-left: #{image-width("img/graphic/icon/icon_arrowdown-grey.png") + $icon_extraspace};
	&.icon--noextrapadding {
		padding-left: #{image-width("img/graphic/icon/icon_arrowdown-grey.png")};
	}
	&.icon--sideright {
		padding-left: 0;
		padding-right: #{image-width("img/graphic/icon/icon_arrowdown-grey.png") + $icon_extraspace};
	}
	&.icon--noextrapadding.icon--sideright {
		padding-right: #{image-width("img/graphic/icon/icon_arrowdown-grey.png")};
	}
}

.icon--arrowdownsmall {
	background-image: url(/img/graphic/icon/icon_arrowdown-small.png);
	min-height: #{image-height("img/graphic/icon/icon_arrowdown-small.png")};
	line-height: #{image-height("img/graphic/icon/icon_arrowdown-small.png")};
	padding-left: #{image-width("img/graphic/icon/icon_arrowdown-small.png") + $icon_extraspace};
	&.icon--noextrapadding {
		padding-left: #{image-width("img/graphic/icon/icon_arrowdown-small.png")};
	}
	&.icon--sideright {
		padding-left: 0;
		padding-right: #{image-width("img/graphic/icon/icon_arrowdown-small.png") + $icon_extraspace};
	}
	&.icon--noextrapadding.icon--sideright {
		padding-right: #{image-width("img/graphic/icon/icon_arrowdown-small.png")};
	}
}

.icon--arrowright {
	background-image: url(/img/graphic/icon/icon_arrowright.png);
	min-height: #{image-height("img/graphic/icon/icon_arrowright.png")};
	line-height: #{image-height("img/graphic/icon/icon_arrowright.png")};
	padding-left: #{image-width("img/graphic/icon/icon_arrowright.png") + $icon_extraspace};
	&.icon--noextrapadding {
		padding-left: #{image-width("img/graphic/icon/icon_arrowright.png")};
	}
	&.icon--sideright {
		padding-left: 0;
		padding-right: #{image-width("img/graphic/icon/icon_arrowright.png") + $icon_extraspace};
	}
	&.icon--noextrapadding.icon--sideright {
		padding-right: #{image-width("img/graphic/icon/icon_arrowright.png")};
	}
}

.icon--arrowleft {
	background-image: url(/img/graphic/icon/icon_arrowleft.png);
	min-height: #{image-height("img/graphic/icon/icon_arrowleft.png")};
	line-height: #{image-height("img/graphic/icon/icon_arrowleft.png")};
	padding-left: #{image-width("img/graphic/icon/icon_arrowleft.png") + $icon_extraspace};
	&.icon--noextrapadding {
		padding-left: #{image-width("img/graphic/icon/icon_arrowleft.png")};
	}
	&.icon--sideright {
		padding-left: 0;
		padding-right: #{image-width("img/graphic/icon/icon_arrowleft.png") + $icon_extraspace};
	}
	&.icon--noextrapadding.icon--sideright {
		padding-right: #{image-width("img/graphic/icon/icon_arrowleft.png")};
	}
}

.icon--calender {
	background-image: url(/img/graphic/icon/icon_calender.png);
	min-height: #{image-height("img/graphic/icon/icon_calender.png")};
	line-height: #{image-height("img/graphic/icon/icon_calender.png")};
	padding-left: #{image-width("img/graphic/icon/icon_calender.png") + $icon_extraspace};
	&.icon--noextrapadding {
		padding-left: #{image-width("img/graphic/icon/icon_calender.png")};
	}
	&.icon--sideright {
		padding-left: 0;
		padding-right: #{image-width("img/graphic/icon/icon_calender.png") + $icon_extraspace};
	}
	&.icon--noextrapadding.icon--sideright {
		padding-right: #{image-width("img/graphic/icon/icon_calender.png")};
	}
 }

.icon--copyright {
	background-image: url(/img/graphic/icon/icon_copyright.png);
	min-height: #{image-height("img/graphic/icon/icon_copyright.png")};
	line-height: #{image-height("img/graphic/icon/icon_copyright.png")};
	padding-left: #{image-width("img/graphic/icon/icon_copyright.png") + $icon_extraspace};
	&.icon--noextrapadding {
		padding-left: #{image-width("img/graphic/icon/icon_copyright.png")};
	}
	&.icon--sideright {
		padding-left: 0;
		padding-right: #{image-width("img/graphic/icon/icon_copyright.png") + $icon_extraspace};
	}
	&.icon--noextrapadding.icon--sideright {
		padding-right: #{image-width("img/graphic/icon/icon_copyright.png")};
	}
}

.icon--facebook {
	background-image: url(/img/graphic/icon/icon_facebook.png);
	min-height: #{image-height("img/graphic/icon/icon_facebook.png")};
	line-height: #{image-height("img/graphic/icon/icon_facebook.png")};
	padding-left: #{image-width("img/graphic/icon/icon_facebook.png") + $icon_extraspace};
	&.icon--noextrapadding {
		padding-left: #{image-width("img/graphic/icon/icon_facebook.png")};
	}
	&.icon--sideright {
		padding-left: 0;
		padding-right: #{image-width("img/graphic/icon/icon_facebook.png") + $icon_extraspace};
	}
	&.icon--noextrapadding.icon--sideright {
		padding-right: #{image-width("img/graphic/icon/icon_facebook.png")};
	}
}

.icon--fast {
	background-image: url(/img/graphic/icon/icon_fast.png);
	min-height: #{image-height("img/graphic/icon/icon_fast.png")};
	line-height: #{image-height("img/graphic/icon/icon_fast.png")};
	padding-left: #{image-width("img/graphic/icon/icon_fast.png") + $icon_extraspace};
	&.icon--noextrapadding {
		padding-left: #{image-width("img/graphic/icon/icon_fast.png")};
	}
	&.icon--sideright {
		padding-left: 0;
		padding-right: #{image-width("img/graphic/icon/icon_fast.png") + $icon_extraspace};
	}
	&.icon--noextrapadding.icon--sideright {
		padding-right: #{image-width("img/graphic/icon/icon_fast.png")};
	}
}

.icon--fastnavy {
	background-image: url(/img/graphic/icon/icon_fast-navy.png);
	min-height: #{image-height("img/graphic/icon/icon_fast-navy.png")};
	line-height: #{image-height("img/graphic/icon/icon_fast-navy.png")};
	padding-left: #{image-width("img/graphic/icon/icon_fast-navy.png") + $icon_extraspace};
	&.icon--noextrapadding {
		padding-left: #{image-width("img/graphic/icon/icon_fast-navy.png")};
	}
	&.icon--sideright {
		padding-left: 0;
		padding-right: #{image-width("img/graphic/icon/icon_fast-navy.png") + $icon_extraspace};
	}
	&.icon--noextrapadding.icon--sideright {
		padding-right: #{image-width("img/graphic/icon/icon_fast-navy.png")};
	}
}

.icon--instragram {
	background-image: url(/img/graphic/icon/icon_instragram.png);
	min-height: #{image-height("img/graphic/icon/icon_instragram.png")};
	line-height: #{image-height("img/graphic/icon/icon_instragram.png")};
	padding-left: #{image-width("img/graphic/icon/icon_instragram.png") + $icon_extraspace};
	&.icon--noextrapadding {
		padding-left: #{image-width("img/graphic/icon/icon_instragram.png")};
	}
	&.icon--sideright {
		padding-left: 0;
		padding-right: #{image-width("img/graphic/icon/icon_instragram.png") + $icon_extraspace};
	}
	&.icon--noextrapadding.icon--sideright {
		padding-right: #{image-width("img/graphic/icon/icon_instragram.png")};
	}
}

.icon--support {
	background-image: url(/img/graphic/icon/icon_support.png);
	min-height: #{image-height("img/graphic/icon/icon_support.png")};
	line-height: #{image-height("img/graphic/icon/icon_support.png")};
	padding-left: #{image-width("img/graphic/icon/icon_support.png") + $icon_extraspace};
	&.icon--noextrapadding {
		padding-left: #{image-width("img/graphic/icon/icon_support.png")};
	}
	&.icon--sideright {
		padding-left: 0;
		padding-right: #{image-width("img/graphic/icon/icon_support.png") + $icon_extraspace};
	}
	&.icon--noextrapadding.icon--sideright {
		padding-right: #{image-width("img/graphic/icon/icon_support.png")};
	}
}

.icon--thumb {
	background-image: url(/img/graphic/icon/icon_thumb.png);
	min-height: #{image-height("img/graphic/icon/icon_thumb.png")};
	line-height: #{image-height("img/graphic/icon/icon_thumb.png")};
	padding-left: #{image-width("img/graphic/icon/icon_thumb.png") + $icon_extraspace};
	&.icon--noextrapadding {
		padding-left: #{image-width("img/graphic/icon/icon_thumb.png")};
	}
	&.icon--sideright {
		padding-left: 0;
		padding-right: #{image-width("img/graphic/icon/icon_thumb.png") + $icon_extraspace};
	}
	&.icon--noextrapadding.icon--sideright {
		padding-right: #{image-width("img/graphic/icon/icon_thumb.png")};
	}
}

.icon--nolineheight {
	line-height: normal;
}

.icon--sideright {
	background-position: right center;
}

.icon--noextrapadding {

}

.icon--inlineblock {
	//display: inline-block;
}