


.productdetail {
	display: block;
	width: 100%;
	font-weight: 400;
	font-family: $font_lato;
	margin-bottom: 80px;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.productdetail,
.productdetail__image,
.productdetail__info,
.productdetail__mainimage,
.productdetail__thumbs,
.productdetail__thumb,
.productdetail__title,
.productdetail__desc,
.productdetail__trustpilot {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.productdetail__image {
	width: 50%;
	float: left;
	@include mediaQueries(mobile tablet) {
		width: 100%;
		clear: both;
		margin-bottom: 50px;
	}
}

.productdetail__info {
	width: 50%;
	float: left;
	padding-left: 100px;
	@include mediaQueries(mobile tablet) {
		width: 100%;
		clear: both;
		padding-left: 0;
	}
}

.productdetail__mainimage {
	width: 100%;
	display: block;
	margin-bottom: 30px;
	text-align: center;
	@include mediaQueries(mobile tablet) {
		img {
			width: 100%;
		}
	}
}

.productdetail__thumbs {
	width: 100%;
	display: block;
	&:after {
		conten: "";
		display: block;
		clear: both;
	}
}

.productdetail__thumb {
	width: 175px;
	display: block;
	float: left;
	overflow: hidden;
	background: red;
	margin-left: 30px;
	text-align: center;
	&:first-child {
		margin-left: 0;
	}
	@include mediaQueries(mobile tablet) {
		width: 90px;
		img {
			width: 100%;
		}
	}
}

.productdetail__title {
	@include fontSize(eta, 1.3);
	margin-bottom: 20px;
	width: 100%;
	display: block;
}

.productdetail__desc {
	@include fontSize(delta, 1.5);
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	display: block;
	overflow: hidden;
}

.productdetail__trustpilot {
	width: 100%;
	display: block;
	margin-top: 30px;
	margin-bottom: 20px;
	@include mediaQueries(mobile) {
		img {
			width: 100%;
		}
	}
}