


.relation {
	display: block;
	&:only-child {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	&:first-child {
		padding-left: 0px;
	}
	&:last-child {
		padding-right: 0px;
	}
	&[class*=relation--main]:first-child {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
}

.relation {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.relation--aside {
	width: 20%;
	float: left;
	& + .relation--main {
		width: 80%;
		padding-left: 60px;
	}
	@include mediaQueries(mobile tablet) {
		width: 100%;
		& + .relation--main {
			padding-left: 0px;
			width: 100%;
		}
	}
	/*!
	@include mediaQueries(tablet) {
		width: 40%;
		& + .relation--main {
			width: 60%;
		}
	}
	*/
}

.relation--main {
	overflow: hidden;
	width: 80%;
	padding-right: 60px;
	& + .relation--aside {
		width: 20%;
		float: right;
	}
	@include mediaQueries(mobile tablet) {
		width: 100%;
		padding-right: 0px;
		& + .relation--aside {
			width: 100%;
			float: right;
		}
	}
	/*!
	@include mediaQueries(tablet) {
		width: 60%;
		& + .relation--aside {
			width: 40%;
		}
	}
	*/
}