
.rte {
	@include fontSize(gamma, 1.25);
	font-family: $font_lato;
	font-weight: normal;
	display: block;
	width: 100%;
	text-transform: none;
}

.rte,
.rte__break {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.rte {
	p, h1, h2, h3, h4 {
		font-size: inherit;
		color: inherit;
		line-height: inherit;
		text-transform: inherit;
		margin-top: 0;
	}
	table, thead, tbody, tr, td, th {
		padding: 0;
		border: 0;
	}
	ul {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		padding-left: 20px;
	}
	li {
		//display: block;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	p {
		margin-bottom: 5px;
	}
	a {
		@include hoverActiveStates($color_navy);
		text-decoration: underline;
	}
	h1 {
		@include fontSize(eta, 1);
	}
	h2 {
		@include fontSize(zeta, 1);
	}
	h3 {
		@include fontSize(epsilon, 1);
	}
	h4 {
		@include fontSize(delta, 1);
	}
}

.rte--uppercase {
	text-transform: uppercase;
}

.rte--light {
	@include fontSize(beta, 1.6);
	font-weight: 100;
	a {
		@include hoverActiveStates($color_textwhite);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.rte__break {
	width: 100%;
	display: block;
	clear: both;
	height: 20px;
}