// (BLOCK)(BEGIN) - Banner
//-div.container.bannerblock(data-ng-controller="BannerblockCtrl",)
//-div.container.bannerblock(data-ng-controller="BannerblockCtrl")
div.container.bannerblock
	//-div(data-saveattr="[{'boomla':'testvalue'}]")
	div.bannerblock__banner(data-ng-class="{'bannerblock__banner--active': bannerblock.checkActive(0)}", data-ng-click="bannerblock.testFunc()")
		div.container__content
			div.container__inner banner 1
	div.bannerblock__banner(data-ng-class="{'bannerblock__banner--active': bannerblock.checkActive(1)}")
		div.container__content
			div.container__inner banner 2
	div.bannerblock__banner(data-ng-class="{'bannerblock__banner--active': bannerblock.checkActive(2)}")
		div.container__content
			div.container__inner banner 3
	div.bannerblock__banner(data-ng-class="{'bannerblock__banner--active': bannerblock.checkActive(3)}")
		div.container__content
			div.container__inner banner 4
// (BLOCK)(END) - Banner