// (BLOCK)(BEGIN) - Banner
//div.container.bannerblock(data-ng-controller="BannerblockCtrl", data-saveattr="[{'boomla':'testvalue'}]")
div.container.bannerblock(data-ng-controller="BannerblockCtrl",)
	div.bannerblock__banner(data-ng-class="{'bannerblock__banner--active': bannerblockctrl.checkActive(0)}")
		div.container__content
			div.container__inner banner 1
	div.bannerblock__banner(data-ng-class="{'bannerblock__banner--active': bannerblockctrl.checkActive(1)}")
		div.container__content
			div.container__inner banner 2
	div.bannerblock__banner(data-ng-class="{'bannerblock__banner--active': bannerblockctrl.checkActive(2)}")
		div.container__content
			div.container__inner banner 3
	div.bannerblock__banner(data-ng-class="{'bannerblock__banner--active': bannerblockctrl.checkActive(3)}")
		div.container__content
			div.container__inner banner 4
// (BLOCK)(END) - Banner