div.container.bannerblock
	div.bannerblock__banner
		div.container__content
			div.container__inner banner 1
	div.bannerblock__banner
		div.container__content
			div.container__inner banner 2
	div.bannerblock__banner
		div.container__content
			div.container__inner banner 3
	div.bannerblock__banner
		div.container__content
			div.container__inner banner 4