// (BLOCK)(BEGIN) - Delivery Overlay
div.deliveryoverlay(data-ng-show="greatskinctrl.deliveryoverlay.states.show", data-ng-style="greatskinctrl.deliveryoverlay.css")
	div.deliveryoverlay__title
		div.icon.icon--fastnavy Fragt
	div.rte
		p
			b Vi tilbyder følgende leveringsformer:&nbsp
		ul
			li Post Danmark - Privat, levering til døren:&nbsp
				b 35 kr
			li Post Danmark Vælg Selv Udlevering:&nbsp
				b 25 kr
			li GLS Pakkeshop:&nbsp
				b 25 kr.
			li GLS Erhverv, levering til din arbejdplads:&nbsp
				b 30 kr
		div.rte__break
		p Køber du varer for 499 kr. eller mere,
			br
			| så er fragten gratis!
		div.rte__break
		p Forventet leveringstid er 1-3 hverdage.
// (BLOCK)(END) - Delivery Overlay