// (BLOCK)(BEGIN) - Footer
footer.greatskin__footer
	div.container
		div.container__content
			div.container__inner
				div.grid.grid--5
					p
						| Hos Greatskin.dk har vi en mission.
						| Vi ønsker at være landets fortrukne
						| valg indenfor kosmetik og hudpleje.
					p
						| Med en kombination af skarpe priser
						| og kvalitets produkter, har vi sat os
						| for, at alle fortjener en sund hud
						| uden at det skal koste en bondegård.
				div.grid.grid--1
				div.grid.grid--5
					p Facebook
				div.grid.grid--1
				div.grid.grid--5
					p Newsletter
				div.grid.grid--1
				div.grid.grid--6
					p Contact information

div.container.greatskin__blackbar
	div.container__content
		div.container__inner
			div.grid.grid--20 2014 Greatskin.dk All rights reserved  l Sydbank: 6840 0001441925  -  Cvr: 35 61 61 01 -  Landevejen128, 5883 Oure
			div.grid.grid--4
				div.inlinelist.inlinelist--alignright
					div.inlinelist__item
						a.icon.icon--facebook.icon--noextrapadding
					div.inlinelist__item
						a.icon.icon--instragram.icon--noextrapadding
// (BLOCK)(END) - Footer