// (BLOCK)(BEGIN) - Head
title Greatskin
meta(charset="UTF-8")
//meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel='stylesheet', href='./css/greatskin.css')
// Main app js
script(src='./scripts/greatskin_head.js')
// Fonts
link(type="text/css", rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,900,300italic,400italic,700italic,900italic')
// (BLOCK)(END) - Head