div.container.greatskin__header
	div.container__content
		div.container__inner
			a.greatskin__logo
				img(src="img/content/logo.png", alt="Greatskin")
			div.greatskin__nav
				nav.nav
					div link1
					div link2
					div link3
			div.greatskin__basket

