// (BLOCK)(BEGIN) - Leftmenu
div.headline
	div.headline__line
	div.headline__text Produkter
	div.headline__line
div.listmenu
	div.listmenu__item item
	div.listmenu__item item
	div.listmenu__item item
	div.listmenu__item item
div.headline
	div.headline__line
	div.headline__text Brands
	div.headline__line
div.listmenu
	div.listmenu__item item
	div.listmenu__item item
	div.listmenu__item item
	div.listmenu__item item
// (BLOCK)(END) - Leftmenu