// (BLOCK)(BEGIN) - Pagging
div.pagging
	a.pagging__item
		span.icon.icon--arrowleft.icon--noextrapadding
	a.pagging__item.pagging__item--active 1
	a.pagging__item 2
	a.pagging__item 3
	a.pagging__item
		span.icon.icon--arrowright.icon--noextrapadding
// (BLOCK)(END) - Pagging