// (BLOCK)(BEGIN) - Productlist
div.cluster
	div.cluster__list
		div.cluster__item
			div.cluster__inner
				div.product
					a.product__img(href="#")
						img(src="http://placehold.it/200x200")
						div.product__addtobasket add to basket
						div.product__label Udsalg!
					div.grid--24
						div.product__title title
						div.product__price price
					div.grid--24
						div.product__desc desc
						div.product__delivery delivery
		div.cluster__item
			div.cluster__inner
				div.product
					a.product__img(href="#")
						img(src="http://placehold.it/200x200")
						div.product__addtobasket add to basket
						div.product__label Udsalg!
					div.grid--24
						div.product__title title
						div.product__price price
					div.grid--24
						div.product__desc desc
						div.product__delivery delivery
		div.cluster__item
			div.cluster__inner
				div.product
					a.product__img(href="#")
						img(src="http://placehold.it/200x200")
						div.product__addtobasket add to basket
						div.product__label Udsalg!
					div.grid--24
						div.product__title title
						div.product__price price
					div.grid--24
						div.product__desc desc
						div.product__delivery delivery
		div.cluster__item
			div.cluster__inner
				div.product
					a.product__img(href="#")
						img(src="http://placehold.it/200x200")
						div.product__addtobasket add to basket
						div.product__label Udsalg!
					div.grid--24
						div.product__title title
						div.product__price price
					div.grid--24
						div.product__desc desc
						div.product__delivery delivery
		div.cluster__item
			div.cluster__inner
				div.product
					a.product__img(href="#")
						img(src="http://placehold.it/200x200")
						div.product__addtobasket add to basket
						div.product__label Udsalg!
					div.grid--24
						div.product__title title
						div.product__price price
					div.grid--24
						div.product__desc desc
						div.product__delivery delivery
		div.cluster__item
			div.cluster__inner
				div.product
					a.product__img(href="#")
						img(src="http://placehold.it/200x200")
						div.product__addtobasket add to basket
						div.product__label Udsalg!
					div.grid--24
						div.product__title title
						div.product__price price
					div.grid--24
						div.product__desc desc
						div.product__delivery delivery
		div.cluster__item
			div.cluster__inner
				div.product
					a.product__img(href="#")
						img(src="http://placehold.it/200x200")
						div.product__addtobasket add to basket
						div.product__label Udsalg!
					div.grid--24
						div.product__title title
						div.product__price price
					div.grid--24
						div.product__desc desc
						div.product__delivery delivery
// (BLOCK)(END) - Productlist