// (BLOCK)(BEGIN) - Productdetail
div.productdetail
	div.productdetail__image
		div.productdetail__mainimage
			img(src="http://placehold.it/585x585")
		div.productdetail__thumbs
			div.productdetail__thumb
				img(src="http://placehold.it/175x175")
			div.productdetail__thumb
				img(src="http://placehold.it/175x175")
			div.productdetail__thumb
				img(src="http://placehold.it/175x175")
	div.productdetail__info
		div.productdetail__title Product name (REPLACE ME)
		div.headline.headline--grey
			div.headline__line
		div.grid.grid--24.grid--spacebottom
			b.grid.grid--7.color--grey.fontsize--zeta DDK 299,00
			div.grid.grid--17.fontsize--delta.lineheight--zeta
				b.color--navy Varen er på lager &nbsp
				span.color--coal · Leveringstid 1-3 hverdage.
		div.productdetail__desc
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel pulvinar diam vulputate quis ,vel pulvinar diam vulputate quis. Donec porttitor volutpat rutrum.  Vulputate quis. Donec porttitor volutpat rutrum. Donec porttitor volutpat rutrum.  Vulputate quis.
		div.grid.grid--24.grid--spacebottom
			a.button.button--arrow.button--extrabuff.button--orange
				div.button__text. Læg i kurv
		div.headline.headline--grey
			div.headline__line
		a.productdetail__trustpilot
			img(src="/img/content/trustpilot_dk.png")
		div.headline.headline--grey
			div.headline__line
		div.grid.grid--24.grid--spacebottom SOCIAL
		div.grid.grid--24
			a.social.social--twitter(href="#")
			a.social.social--facebook(href="#")
			a.social.social--pinterest(href="#")
// (BLOCK)(END) - Productdetail