// (BLOCK)(BEGIN) - Relatedproducts
div.headline.headline--grey
	div.headline__text Relatederede produkter
	div.headline__line
div.cluster.cluster--line4
	div.cluster__list
		div.cluster__item
			div.cluster__inner
				div.product.product--related
					a.product__img(href="#")
						img(src="http://placehold.it/200x200")
						div.product__addtobasket add to basket
						div.product__label Udsalg!
					div.grid--24
						div.product__title title
						div.product__price price
					div.grid--24
						div.product__desc desc
		div.cluster__item
			div.cluster__inner
				div.product.product--related
					a.product__img(href="#")
						img(src="http://placehold.it/200x200")
						div.product__addtobasket add to basket
						div.product__label Udsalg!
					div.grid--24
						div.product__title title
						div.product__price price
					div.grid--24
						div.product__desc desc
		div.cluster__item
			div.cluster__inner
				div.product.product--related
					a.product__img(href="#")
						img(src="http://placehold.it/200x200")
						div.product__addtobasket add to basket
						div.product__label Udsalg!
					div.grid--24
						div.product__title title
						div.product__price price
					div.grid--24
						div.product__desc desc
		div.cluster__item
			div.cluster__inner
				div.product.product--related
					a.product__img(href="#")
						img(src="http://placehold.it/200x200")
						div.product__addtobasket add to basket
						div.product__label Udsalg!
					div.grid--24
						div.product__title title
						div.product__price price
					div.grid--24
						div.product__desc desc
// (BLOCK)(END) - Relatedproducts