extends ../master

block append head

block append body
	// (INSERT)(PLACEHOLDER) - Body
	include ../blocks/banner.jade

block append content
	// (INSERT)(PLACEHOLDER) - Content

	div.container.container--spacebottom
		div.container__content
			div.container__inner
				div.relation.relation--aside
					include ../blocks/leftmenu.jade
				div.relation.relation--main
					div.headline.headline--oneline.headline--grey.headline--textdarkgrey.headline--notransform
						div.headline__line
						div.headline__text Nyeste produkter
						div.headline__line
					div.spacer
					include ../blocks/productlist.jade

	div.container
		div.container__content
			div.container__inner
				div.headline.headline--oneline.headline--grey.headline--textdarkgrey.headline--notransform
					div.headline__line
					div.headline__text Brands
					div.headline__line
				div.inlinelist.inlinelist--center
					div.inlinelist__item
						a
							img(src="http://placehold.it/160x100")
					div.inlinelist__item
						a
							img(src="http://placehold.it/160x120")
					div.inlinelist__item
						a
							img(src="http://placehold.it/160x100")
					div.inlinelist__item
						a
							img(src="http://placehold.it/120x90")
					div.inlinelist__item
						a
							img(src="http://placehold.it/100x100")
					div.inlinelist__item
						a
							img(src="http://placehold.it/180x80")
